* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: ubuntu;
    min-height: 100vh;
    color: #555;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

form {
    max-width: 400px;
    margin: 50px auto 200px auto;
    border: thin solid #e4e4e4;
    padding: 20px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
}

form label {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
}

form input {
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: thin solid #e4e4e4;
    margin-bottom: 30px
}

form button {

    background: #32749a;
    color: #fff;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 10px;
    margin-top: 20px;
    cursor: pointer;
}

form button:active {
    background-color: #008000;
}

.error {
    margin-top: 30px;
    color: #af0c0c;
}